body {
   font-family: Roboto, sans-serif;
}

.header-container {
   color: #F9FAF8;
   background-color: #1F2937;
   padding: 20px 0;
   display: flex;
   justify-content: center;
}

.header {
   width: 1200px;
   height: 100px;
   display: flex;
   justify-content: space-between;
}

.header-logo {
   margin-right: auto;
   font-size: 24px;
   font-weight: bold;
}

.header-link {
   display: flex;
   justify-content: flex-end;
   margin-left: 20px;
   font-size: 18px;
   color: #E5E7EB;
}

.hero-container {
   background-color: #1F2937;
   display: flex;
   justify-content: center;
   
}

.hero {
   width: 1200px;
   height: 500px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-wrap: wrap;
   flex-direction: row;
}

.hero-main {
   font-size: 48px;
   font-weight: 900;
   color: #F9FAF8;
   padding-top: 50px;
}

.hero-secondary {
   font-size: 18px;
   color: #E5E7EB;
   padding: 10px 0;
}

button {
   padding: 8px 16px;
   border-radius: 8px;
   
 }

.signup {
   color: #E5E7EB;
   background-color: #3882F6;
   border: none;
}

.banner {
   padding-bottom: 100px;
}

.banner-image {
   width: 500px;
}

.col-one {
   width: 40%;
   align-self: flex-start;
}

.col-two {
   width: 60%;
   margin-right: -220px;
}

.info-container {
   display: flex;
   justify-content: center;
}

.info {
   display: flex;
   justify-content: space-between;
   min-height: 20px;
}

.info-header {
   color: #1F2937;
   font-size: 36px;
   font-weight: 900;
   padding-top: 40px;
}

.image-grid-container {
   display: flex;
   justify-content: center;
}
 
.image-grid {
   width: 1000px;
   min-height: 400px;
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   flex-direction: row;
   align-items: center;
   padding-bottom: 20px;
}
 
.image-grid-item {
   border: 1px solid #fff;
   width: 200px;
   height: 200px;
   text-align: center;
   padding: 20px;
}

.image {
   width: 200px;
   height: 200px;
   object-fit: cover;
}

.quote-container {
   display: flex;
   justify-content: center;
   background-color: #E5E7EB;
}

.quote {
   width: 900px;
   min-height: 200px;
   display: flex;
   justify-content: space-between;
   flex-direction: column;
   padding-top: 80px;
   padding-bottom: 40px;
}

.quote-content {
   font-size: 36px;
   font-weight: 300;
   font-style: italic;
   color: #1F2937;
}

.quote-author {
   text-align: right;
   font-size: 24px;
   margin-bottom: 50px;
   color: #1F2937;
   font-weight: 600;
}

.cta-container {
   display: flex;
   align-items: center;
   justify-content: center;
}

.cta {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 1000px;
   min-height: 160px;
   background-color: #3882F6;
   border-radius: 8px;
   border: none;
   padding: 10px;
   margin: 100px 10px;
   flex-direction: row;
}

.cta-col1 {
   margin-right: auto;
   padding-left: 120px;
}

.cta-col2 {
   margin-left: auto;
   padding-right: 120px;
}

.cta-header {
   display: flex;
   align-items: center;
   justify-content: space-between;
   font-size: 28px;
   font-weight: 700;
   margin-bottom: 4px;
   color: #E5E7EB;
}

.cta-text {
   color: #E5E7EB;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 18px;
}

.cta-button {
   color: #E5E7EB;
   background-color: #3882F6;
   border-radius: 8px;
   border: 2px solid #E5E7EB;
   font-size: 18px;
   font-weight: 700;
   padding: 6px 32px;
}

.footer {
   background-color: #1F2937;
   color: #F9FAF8;
   display: flex;
   justify-content: center;
   height: 100px;
}

.footer-text {
   font-size: 18px;
   padding: 40px;
}