body {
   font-family: Roboto;
}

.header-container {
   color: #F9FAF8;
   background-color: #1F2937;
   padding: 20px 0;
   display: flex;
   justify-content: center;
}

.header {
   width: 1200px;
   height: 100px;
   display: flex;
   justify-content: space-between;
}

.header-logo {
   margin-right: auto;
   font-size: 24px;
   font-weight: bold;
}

.header-link {
   display: flex;
   justify-content: flex-end;
   margin-left: 20px;
   font-size: 18px;
   color: #E5E7EB;
}

.hero-container {
   background-color: #1F2937;
   display: flex;
   justify-content: center;
   
}

.hero {
   width: 1200px;
   height: 500px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-direction: row;
}

.hero-main {
   font-size: 48px;
   font-weight: 900;
   color: #F9FAF8;
   padding-top: 50px;
}

.hero-secondary {
   font-size: 18px;
   color: #E5E7EB;
   padding: 10px 0;
}

button {
   padding: 8px 16px;
   border-radius: 8px;
   border: none;
 }

.signup {
   color: #E5E7EB;
   background-color: #3882F6;
}

.banner {
   padding-bottom: 100px;
}

.banner-image {
   width: 500px;
}

.col-one {
   width: 40%;
   align-self: flex-start;
}

.col-two {
   width: 60%;
   margin-right: -220px;
}

.info-container {
   display: flex;
   justify-content: center;
}

.info {
   display: flex;
   justify-content: space-between;
   height: 120px;
}

.info-header {
   color: #1F2937;
   font-size: 36px;
   font-weight: 900;
   padding-top: 40px;
}

.image-grid-container {
   display: flex;
   justify-content: center;
}
 
.image-grid {
   width: 1000px;
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   flex-direction: row;
   align-items: center;
}
 
.image-grid-item {
   border: 1px solid #fff;
   width: 200px;
   height: 200px;
   text-align: center;
   padding: 20px;
}

.image {
   width: 200px;
   height: 200px;
   object-fit: cover;
}